// File: _navigation.scss
// Set core header styles

@import 'navigation';

.header-wrapper {
    background-color: $color-cyan;
    color: $color-white;
    margin: 0 auto;
    &.with-shape {
        background-image: url('../img/leading_shape.svg');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: auto 70%;
    }
    .header-row {
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-upper {
        padding-top: 30px;
        text-align: right;
        .link-withicon {
            font-size: .9rem;
        }
    }
    .header-lower {
        padding-top: 27px;
        padding-bottom: 25px;
        .header-logo {
            width: 160px;
            margin-top: 3px;
        }
        .menu-wrapper {
            width: calc(100% - 160px);
            float: right;
            .main-menu {
                float: right;
            }
        }
    }
    .header-feature {
        overflow: hidden;
        .midcol {
            margin-bottom: 1.12em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 10;
        }
        .leftcol {
            width: 48.25%;
            float: left;
            h2 {
                margin-bottom: 30px;
            }
        }
        .rightcol {
            width: 51.75%;
            margin-bottom: 1rem;
            float: right;
            img {
                width: 455px;
                max-width: 100%;
                margin-top: -14px;
                float: right;
            }
        }
        &::before, &:after {
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            @extend .translow;
            opacity: 1;
        }
        &::before {
            background-image: url('../img/squiggle_left.svg');
            width: 100px;
            height: 200px;
            display: block;
            left: -18px;
            top: 62px;
        }
        &::after {
            background-image: url('../img/squiggle_right.svg');
            width: 166px;
            height: 93px;
            display: block;
            right: -28px;
            bottom: 23px;
        }
    }
}

/* Universal (under 1500px) ----------- */
@media only screen 
and (max-width : 1500px) {
    .header-wrapper {
        &.with-shape {
            //background-size: auto 60%;
        }
    }
}
/* Universal (under 1249px) ----------- */
@media only screen 
and (max-width : 1249px) {
    .header-wrapper {
        &.with-shape {
            background-position: right -61.5% top;
        }
        .header-row {
            padding-left: 3%;
            padding-right: 3%;
        }
        .header-upper {
            padding-top: 18px;
        }
        .header-feature {
            &::before {
                left: -34px;
            }
        }
    }
}
/* Universal (under 1120px) ----------- */
@media only screen 
and (max-width : 1120px) {
    .header-wrapper {
        .header-feature {
            &::before {
                left: -43px;
                top: -50px;
            }
        }
    }
}
/* Universal (under 1080px) ----------- */
@media only screen 
and (max-width : 1080px) {
    .header-wrapper {
        .header-lower {
            .menu-wrapper {
                width: 100%;
            }
        }
        .header-feature {
            .leftcol {
                width: 60%;
            }
            .rightcol {
                width: 40%;
            }
            &::before {
                opacity: 0;
            }
        }
    }
}
/* Universal (under 999px) ----------- */
@media only screen 
and (max-width : 999px) {
    .header-wrapper {
        .header-row {
            padding-left: 4%;
            padding-right: 4%;
        }
        .header-upper {
            background-color: $color-bluedk;
            padding-bottom: 18px;
            text-align: center;
            .link-withicon {
                background-position: left 1px;
                font-size: 1em;
            }
        }
        .header-lower {
            padding-top: 25px;
            .header-logo {
                margin-top: 0;
            }
            .menu-wrapper {
                width: 60px;
            }
        }
        .header-feature {
            .leftcol {
                h1 {
                    font-size: 5.5vw;
                }
            }
        }
        &.with-shape {
            background-position: right top;
            background-size: 100% auto;
        }
    }
}
/* Universal (under 768px) ----------- */
@media only screen 
and (max-width : 768px) {
    .header-wrapper {
        .header-feature {
            .midcol {
                text-align: center;
                display: inline-block;
            }
            .leftcol, .rightcol {
                width: 100%;
                h1 {
                    font-size: 55px;
                }
                img {
                    width: 700px;
                    float: none;
                }
            }
            .leftcol {
                margin-bottom: 30px;
                h1 {
                    font-size: 7.15vw;
                }
            }
            &::before {
                opacity: 1;
                left: -38px;
                top: -10px;
            }
            &::after {
                right: -90px;
            }
        }
        &.with-shape {
            background-position: center top;
            background-size: 129% auto;
        }
    }
}
/* Universal (under 649px) ----------- */
@media only screen 
and (max-width : 649px) {
    .header-wrapper {
        .header-lower {
            .header-logo {
                width: 120px;
            }
            .menu-wrapper {
                width: calc(100% - 120px);
            }
        }
        .header-feature {
            .leftcol {
                h1 {
                    font-size: 45px;
                }
            }
        }
        &.with-shape {
            background-size: 860px auto;
        }
    }
}
/* Universal (under 480px) ----------- */
@media only screen 
and (max-width : 480px) {
    .header-wrapper {
        .header-feature {
            .leftcol {
                text-align: left;
            }
            .rightcol {
                img {
                    width: 415px;
                }
            }
            &::before {
                opacity: 0;
            }
        }
    }
}
/* Universal (under 400px) ----------- */
@media only screen 
and (max-width : 400px) {
    .header-wrapper {
        .header-feature {
            &::after {
                bottom: -11px;
            }
        }
    }
}