// File: _variables.scss
// Set default style variables

// Colour variables
$color-black: #000;
$color-white: #FFF;
$color-greylt: #dde2e5;
$color-greyltalt: #f5f5f5;
$color-greydk: #555;
$color-cyan: #0098ce;
$color-cyanalt: #02bdff;
$color-bluedk: #263640;
$color-bluedklt: #375364;

// Font variables
$base-font-size: 18px;
$base-font-weight: 400;

$large-heading: 55px;